h2 {
    margin-top: 10px;
    text-align: center;
}
.add-service form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,
textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
